* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  color: #818263;
}
h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #818263;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 20px;
}
h2 {
  font-size: 3em;
  color: #7b2e35;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddbaae;
  padding-bottom: 10px;
}

h3 {
  font-size: 2.5em;
  color: #818263;
  margin-top: 20px;
  margin-bottom: 10px;
}
p {
  font-size: 1.5em;
  color: #4f5039;
  line-height: 1.6;
}

a {
  font-size: 1.2em;
  color: #411e03;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: #8a895f;
  text-decoration: underline;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #7b2e35 100%);
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  color: #fcf7ef;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-links a {
  color: #fffaf2;
  text-decoration: none;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #d9b691;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #fffaf2 0%, #f6ead4 100%);
  color: white;
  padding: 4rem 2rem;
  text-align: center;
  min-height: 400px;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #9f9f75;
  line-height: 1.6;
  opacity: 0.9;
}
.hero-btn {
  background: #fffaf2;
  color: #818263;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5%;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.hero-btn:hover {
  background: #7b2e35;
  color: #fffaf2;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(90, 89, 89, 0.196);
}
