* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  color: #1f1c1c;
}
h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #44280b;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 20px;
}
h2 {
  font-size: 3em;
  color: #372019;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #4e2e25;
  padding-bottom: 10px;
}

h3 {
  font-size: 2.5em;
  color: #563e2a;
  margin-top: 20px;
  margin-bottom: 10px;
}
p {
  font-size: 1.5em;
  color: #333333;
  line-height: 1.6;
}

a {
  font-size: 1.2em;
  color: #411e03;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: #8a895f;
  text-decoration: underline;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #492c08 0%);
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #d5b79a;
}
